@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400&display=swap');
*{
  font-family: 'Ubuntu', sans-serif;

}
.App {
  // text-align: center;
  background-color: #17151d;
  padding:2em 1em;
  
  .body{
    display: flex;
    flex-direction: row;
    // flex-wrap: wrap;
    
    min-height: 100%;
    column-gap: 15px;

  }

  nav.nav{
   
    ul{
      list-style-type: none;
      padding: 0;
      li{
        color:white;
        max-height: 20px;
        border-radius: 5px;
        margin: 5px auto;
        cursor: pointer;
        background-color: #17151d;
        
        // span{
        //   // visibility: visible;
        //   // transition: visibility 2.9s;

        // }
      }
      span.togglemenu{
          visibility: hidden;

      }
      li:hover{
        background-color: #3f6eff;

      }
    }
  }
}

nav.nav{
  flex: 0;
  height: 100%;
// flex-grow: 1; flex-shrink: 1; flex-basis: 50%; 
  .container{
    margin:1em 0px;
    background-color: #241f2a;
    width: 50px;
    padding: 10px;
    height: 80%;
    transition: width 0.2s;
    // margin-right: 20px;
  //  justify-self: flex-start;
    border-radius: 10px;
  }
  .menu-text{
    visibility: hidden;
    // position: static;
    font-size: 14px; margin-left: 10px; vertical-align:top;
    // white-space:nowrap;
    position: absolute;

    // visibility: visible;
    
  }
  .increase{
    width:220px;

    .menu-text{
      transition: visibility 0.01s;
      font-size: 14px; margin-left: 10px; vertical-align:top;

      visibility: visible;

    }
  }

  
  // background-color: white;
  .toggle{
    background-color: #241f2a;
    width: 70px;
    height:50px;
    text-align: center;
    line-height: 60px;
    border-radius: 8px;
    cursor:pointer;
  }
}

.main-content{
flex: 6;
justify-content: space-between;
width: 100%;
padding: 0px 15px;
// background-color: red;

.search-box{
  width: 100%;
  border:none;
  height: 30px;
  border-radius: 5px;
  background-color: #241f2a;
  padding:10px;
  color:white;
  display: inline-block;
 
  box-shadow: 3px 3px 102px -2px rgba(11,8,8,0.56);
-webkit-box-shadow: 3px 3px 102px -2px rgba(11,8,8,0.56);
-moz-box-shadow: 3px 3px 102px -2px rgba(11,8,8,0.56);


  input{
    height: 100%;
    border:none;
    background-color: transparent;
    width: 90%;
    outline-width: 0;
    display: inline-block;
    color:white;
    font-size: 14px;
  }
}


// https://api.coingecko.com/api/v3/coins/markets?vs_currency=usd&order=market_cap_desc&per_page=10&page=1&sparkline=false
// 
.market-leaders{
  background-color: #241f2a;
  margin-top: 10px;
  width: 99%;
  border-radius: 5px;
  padding:8px 15px;
  h3{
    color: white;
  }
}

.all-coins{
  background-color: #241f2a;
  margin-top: 10px;
  width: 99%;
  border-radius: 5px;
  padding:8px 15px;
  h3{
    color: white;
  }
}



}

.right{
flex: 2;
// background-color: #241f2a;
border-radius: 10px;
padding: 0px 15px;
.news-container{
  margin:0px 5px;
  background-color: #241f2a;
  width: 90%;
  padding: 10px;
  max-height: 80%;
  min-height: 50%;
  transition: width 0.2s;
  // margin-right: 20px;
//  justify-self: flex-start;
  border-radius: 10px;
  h3{
    color: white;
  }
}
}


